.product_page {
  /* height: 5000px; */
}

.product_page_bg {
}

.product_top {
  height: 550px;
  overflow: hidden;
  position: relative;
}

.product_top_img {
  background-image: url("/public/assets/ProductPage_img/pic_top_1.jpg");
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -200px;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  /* border-radius: 5px; */
}

.product_top_intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product_top_heading {
  display: block;
  color: black;
  font-size: 60px;
}

.product_list {
  padding-top: 60px;
  padding-bottom: 60px;

  background-image: url("/public/assets/ProductPage_img/sunset_chill.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
  /* padding-top: 400px;
  padding-bottom: 48px; */
}

.product_container {
  max-width: 1150px;
  margin: 0 auto;
}

.product_search {
  margin-bottom: 25px;
}
.product_search label {
  color: white;
}
.product_search input {
  margin-left: 10px;
  padding: 5px 20px;
  outline: none;
}

.product_item {
  width: 100%;
  height: 400px;
  position: relative;
  margin-bottom: 50px;
  overflow: hidden;
}

.product_item:hover .product_background img {
  transform: scale(1.25);
}

.product_background {
  height: 100%;
}

.product_background img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}

.product_info {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  max-width: 40%;
  height: 100%;
  padding: 25px 35px;
}

.product_info_left {
  position: absolute;
  top: 0;
  left: 0;
}
.product_info_right {
  position: absolute;
  top: 0;
  right: 0;
}

.product_info_heading {
  font-size: 30px;
  font-weight: bold;
}

.product_info_price {
  display: block;
  color: #836839;
  padding-bottom: 20px;
}

.product_info_describe {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.product_info_view {
  padding-top: 20px;
}
.product_info_view li {
  list-style-type: disc;
}

.product_info_btn {
  padding-top: 20px;
  display: inline-block;
}

.product_more {
  color: white;
  display: inline-block;
  font-size: 15px;
  background-color: #836839;
  padding: 10px 20px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.5s ease;
}

.product_more:hover {
  opacity: 0.6;
}

.product_pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
