.adminService_page {
}

.adminService_header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adminService_header h2 {
}

.adminService_header a {
  font-size: 15px;
  background: #009688;
  border-color: #009688;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 5px;
  cursor: pointer;
  padding: 6px 12px;
}

.adminService_search {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adminService_search label {
  color: black;
}
.adminService_search input {
  margin-left: 10px;
  padding: 5px 20px;
  outline: none;
}
.adminService_search a {
  font-size: 15px;
  background: #009688;
  border-color: #009688;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 5px;
  cursor: pointer;
  padding: 6px 12px;
}

.adminService_wrap_list {
  background-color: #fff;
  padding: 28px;
}

.adminService_list {
  width: 100%;
  max-width: 100vw;
  max-height: 550px;
  overflow-x: auto;
  overflow-y: auto;
}

.adminService_table {
  border-collapse: collapse;
  /* width: 100%; */
  width: 101vw;
}

.adminService_table thead {
  background-color: #3e5265;
}
.adminService_table thead tr {
  height: 70px;
}

.adminService_table th {
  color: white;
  padding: 16px 12px;
  white-space: nowrap;
}

.adminService_table tr {
  border-bottom: 1px solid black;
  text-align: center;
  height: 140px;
}
.adminService_table tr:last-child {
  border: 0;
}

.adminService_table td {
  padding: 10px 15px;
  height: inherit;
  word-wrap: break-word;
  /* max-width: 150px; */
}

.adminService_room_img {
  width: 150px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

.adminService_active {
  background-color: rgba(15, 183, 107, 0.12) !important;
  color: #26af48 !important;
  padding: 8px 6px;
  border-radius: 5px;
}
.adminService_disabled {
  padding: 8px 6px;
  border-radius: 5px;
  color: #fff;
  background-color: #6c757d;
}

.adminService_action {
  display: flex;
  justify-content: center;
  align-items: center;
}
.adminService_action button {
  font-size: 15px;
  display: inline-block;
  font-weight: 400;
  border-radius: 50%;
  cursor: pointer;
  padding: 6px 12px;
  outline: none;
  border: none;
  margin: 0 3px;
}

.adminService_action-edit {
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
}

.adminService_action-delete {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.adminService_action-active {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.adminService_action-disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
