.amenities_detail {
  width: 100%;
  /* padding-top: 50px;
  padding-bottom: 50px; */
}

.amenities_detail .swiper-wrapper {
  align-items: center;
  /* justify-content: center; */
}

.amenities_detail .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
}

.amenities_detail .swiper-slide img {
  display: block;
  width: 100%;
}

.amenities_detail .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.amenities_detail .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: black;
}

/* ///// */
.list_amenities {
}

.amenities_item {
  /* width: 250px;
  padding: 10px;
  margin-bottom: 10px; */
  height: 100%;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  transition: all 0.35s;
}
.amenities_item:hover {
  color: #1490ac;
}
.amenities_item:hover i {
  animation: bounce 1s both infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

.amenities_content {
  height: 100%;
  background: #fff;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.1);
  padding: 35px 15px;
  border-radius: 5px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.amenities_content i {
  color: #1490ac;
  margin-right: 6px;
  display: block;
  margin-bottom: 20px;
}
.amenities_content span {
  display: block;
  font-weight: 500;
  text-transform: uppercase;
}
